div.show-top-margin{
    margin-top:2em;
}
.show-grid{
    margin-bottom:2em;
}
.show-grid [class^="col-"]{
    padding-top:10px;
    padding-bottom:10px;
    border:1px solid #AAA;
    background-color:#EEE;
    background-color:rgba(200,200,200,0.3);
}
.responsive-utilities-test .col-xs-6{
    margin-bottom:10px;
     background: red;
}
.responsive-utilities-test span,#vertical-bar{
    padding:15px 10px;
    font-size:14px;
    font-weight:bold;
    line-height:1.1;
    text-align:center;
    border-radius:4px;
    background: red;
    display: none;
}
.visible-on .col-xs-6 .hidden-xs,.visible-on .col-xs-6 .hidden-sm,.visible-on .col-xs-6 .hidden-md,.visible-on .col-xs-6 .hidden-lg,.hidden-on .col-xs-6 .visible-xs,.hidden-on .col-xs-6 .visible-sm,.hidden-on .col-xs-6 .visible-md,.hidden-on .col-xs-6 .visible-lg{
    color:#999;
    border:1px solid #ddd;
}
.visible-on .col-xs-6 .visible-xs,.visible-on .col-xs-6 .visible-sm,.visible-on .col-xs-6 .visible-md,.visible-on .col-xs-6 .visible-lg,.hidden-on .col-xs-6 .hidden-xs,.hidden-on .col-xs-6 .hidden-sm,.hidden-on .col-xs-6 .hidden-md,.hidden-on .col-xs-6 .hidden-lg{
    color:#468847;
    background-color:#dff0d8;
    border:1px solid #d6e9c6;
}
div.controls input,div.controls select{
    margin-bottom:.5em;
}
#inputSeleccionado{
    border-color:rgba(82,168,236,.8)
        ;outline:0;outline:thin dotted \9;
    -moz-box-shadow:0 0 8px rgba(82,168,236,.6);
    box-shadow:0 0 8px rgba(82,168,236,.6);
}
.bs-glyphicons{
    padding-left:0;
    padding-bottom:1px;
    margin-bottom:20px;
    list-style:none;
    overflow:hidden;
}.bs-glyphicons li{
    float:left;
    width:25%;
    height:115px;
    padding:10px;
    margin:0 -1px -1px 0;
    font-size:12px;
    line-height:1.4
    ;text-align:center;
    border:1px solid #ddd;
}
.bs-glyphicons .glyphicon{
    display:block;
    margin:5px auto 10px;
    font-size:24px;
}
.bs-glyphicons li:hover{
    background-color:rgba(86,61,124,.1);
}
@media (min-width: 768px) {
    .bs-glyphicons li{width:12.5%;}
}
.btn-toolbar+.btn-toolbar{
    margin-top:10px;
}
.dropdown>.dropdown-menu{
    position:static;
    display:block;
    margin-bottom:5px;
}
form .row{
    margin-bottom:1em;
}
.nav .dropdown-menu{
    display:none;
}
.nav .open .dropdown-menu{
    display:block;
    position:absolute;
}

#superior1,#superior2{
    display: block;
    float: left;
    height: 228px;
    margin-top: -59px;
    overflow: hidden;
}
#inferior1,#inferior2{
    display: block;
    float: left;
    height: 228px;
    margin-top: 19px;
    overflow: hidden;
}

.titulo{
    text-align: left;
    margin-left: 3px;
    font-family: "Arial", serif;
  
}
.fuente{
   text-align : justify;    
   font-family: "Arial", serif;
   font-size: 12px;
}
.tamaño{
    text-align : justify;    
   font-family: "Arial", serif;
   font-size: 15px;
   color: black;
}

.tipoletra{
    cursor: pointer;
    color: gray;
    margin-left: 3px;    
    font-size: 14px;
    
}
.col-md-1 {
    margin-left: -21px;
    width: 264px;
    /*width: 16.6667%;
      margin-left:10px;
     margin-left: -47px;
     width: 289px;/*242px;*/
}

#botondesid{
    background: #CDCBCA;
    width: 20%;
}

#ejemplo_email_2{
    width: 273px;
}

#checar{
    margin-left: -293px;
}
#iconos{
    float: left;
    margin-right: -86px;
    padding-inline-end: 97px;
}
hr {   
    
    border: 1px inset #eee;
    height: 1px;
    width: 92%;
    
}
.panelderecha{
   float: right; 
   width: 45%;
}

.panelizquierda {
   float: left;
   width: 45%; 
}

.claseizquierda{
    text-align:left;
    font-size: 12px;
    font-family: "Arial", serif;
    float: left;
    color: grey;
}
.claseizquierda:hover{
    color: black;
    
}

.popular{
    position:relative;
    color: gray;
    font-size:12px;
    font-family: "Arial", serif;
    margin-top: 5px;
}

.tipoletra:hover{
    text-decoration:none;
    color: black;
}
.lblestirar {
   background: red;
   padding-left: 200px;
    
    
}
#favoritos1,#favoritos2,#vertical-bar{
    display: block;
    float: left;
    margin-top: 19px;
    height: 208px;
    overflow: hidden;
}

.populares{
    position:relative;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 10px;
    cursor: pointer;
    color: gray;
    margin-left: 5px;
    display: inline-block;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.42857;
    vertical-align: middle;
    margin-top: 10px;
}

#centrados{
  margin-top: -125px;
}
#vertical-bar {
    border-left: 1px solid #ccc;
    display: none;
    height:150px;
    margin-left: 797px;
    margin-right: 1%;       
}
    
.populares:hover {
    color:black; 
    text-decoration:none;
}