/*otro carrusel*/
#carousel1 {
	position: relative; /* Necesario */
	overflow: hidden; /* Necesario */
	height: 250px;
        margin-top: .200px;
	margin-left:-35px;
        margin-right:-159px;
	background:#fff url(carousel-bg.png) bottom left repeat-x;
}

#carousel1 .belt1 {
	position: absolute; /* Necesario */
	left: 0;
	top: 0;
	margin:0 10px 10px 0;
}

#carousel1 .panel1 {
	width:265px;
	float: left; /* Necesario */
	overflow: hidden;
	margin: 15px;
	padding:7px;
	border:1px solid grey;
	background:#FFF url(carousel-panel-bg.png) bottom left repeat-x;
}

#carousel1 .panel1 .panel-text1 {
	padding-top:5px;
	font-size:13px;
	font-family:Verdana, Geneva, sans-serif;
	color:#f2f2f2;
}

#carousel1 .panel1 .panel-text1 a {
	color:#CCC;
	text-decoration:none;
}

#carousel1 .panel1 .panel-text1 a:hover{
	color:#FFF;
	text-decoration:underline;
}
		/* Botones del carousel */
.button-prev1 {
	height:250px;
	width:35px;
	float:left;
        margin-left: -27px;
	background:#5B5B5B url(carousel-bg.png) bottom left repeat-x;
	-moz-border-radius:10px 0 0 10px;
}

.button-prev1 a {
	display:block;
	padding:5px;
	margin-top:105px;
}

.button-next1 {
	height:250px;
	width:35px;
	float:right;
         margin-right: -25px;
	background:#5B5B5B url(carousel-bg.png) bottom left repeat-x;
	-moz-border-radius:0 10px 10px 0;
}

.button-next1 a {
	display:block;
	padding:5px;
	margin-top:105px;
}
a img {
	border:none;
}