/*Remove the navbar's default margin-bottom and rounded borders de cuerpo*/ 
/*.navbar {
    margin-bottom: 0;
    border-radius: 0;
}*/

/* Add a gray background color and some padding to the footer */
/*footer {
    background-color: #f2f2f2;
    padding: 25px;
}*/

div#carrusel{
    width:100%;
}

div#wrande{
    width:100%;
}

.row{
    margin-left: 32px;
    margin-right: 32px;
}
#datosmenu{
margin-top: -122%;
margin-left: -189%;  
}


/*
.form-control{
    width: 10%;
}
*/
/*imegenes del
.col-sm-3 {
    width: 25%;
    float: left;    
}
.col-sm-1 {
    width: 15%;
    float: left;
}*/

.pagination{
    width: 90%;
    margin-left: 10%;  
}

.jumbotron{
    background-color: #fafafa;/*#eee*/
    color: inherit;
    margin-bottom: 30px;
    margin-left: 59px;/*32px*/
    margin-right: 59px;/*32px*/
    padding-bottom: 30px;
    /*padding-top: 150px;*/
    padding-top: 10px;
}
.jumbotron p {
    font-size: 14px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-inverse{
    background-color: #E8E8E8;
    border-color: #080808;
}

.navbar{
    border-radius: 4px;     
    margin-top: -26px;
}

/*
#cambioscolor{
    height: 34px;
    margin: 0;
    margin-left: 0px;
    padding: 0 20px;
    vertical-align: middle;
    background: #ffae4b;
    border: 0;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}*/

#bntid {
    height: 37px;
    margin: 0;
    margin-left: 26%;
    background: #ffae4b;
}
.pocition{    
    margin-top: -44px;
    margin-right: 165px;
    margin-left: -169px;
}

#info{
   text-align : justify;    
   font-family: "Arial", serif;
   font-size: 12px;
}

#info:hover{
    color:red;   
}

.navbar{
    border: 1px solid transparent;
    margin-bottom: 20px;
    min-height: 50px;
    position: relative;
    /*padding-left: 65px;*/
    padding-left: 112px
}

.navbar-nav > li > a {
    padding-top: -10px;
    padding-bottom: 10px;
    line-height: 5px;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    margin-left: 2%;
    max-width: 44%;
    min-width: 35%;
    margin-bottom: -73%;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
    margin-left: 29px;
}


.navbarmenu{
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-inverses{
    background-color: #E8E8E8;
    /*border-color: #E8E8E8;*/
}

.navbarmenu{
    border-radius: 1px;
}
.navbarmenu{
    border: 1px solid transparent;
    margin-bottom: 20px;  
    margin-top: -20px;
    min-height: 0px;
    position: relative;
}
.container-fluid1{
    background:#fff;
}